 .header {
     height: 40px;
     display: flex;
     align-items: center;
     padding: 0 10px;
     color: white;
 }

 .carousel-item {
     text-align: left;
     display: flex;
     align-items: flex-end;
     height: 600px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position-y: center;
     background-position-x: center;
     padding: 50px 30px;
     color: white;
 }

 .carousel-item-title {
     padding: 10px;
     position: relative;
     font-size: 2.5em;
     animation: animateText forwards 1s;
     border-left: 5px solid var(--primary);
 }

 @keyframes animateText {
     from {
         margin-top: 0;
         opacity: 0;
     }

     to {
         margin-bottom: 50px;
         opacity: 1;
     }
 }

 @media only screen and (min-width: 768px) {
     .header {
         padding: 0 calc(1.5 * var(--laptop-padding));
     }
 }