.container {
    height: 80px;
    background-color: var(--primary);
    display: flex;
    gap: 10px;
    padding: 0 10px;
    align-items: center;
    color: var(--white);
    box-shadow: 0px 5px 5px 0px rgba(39, 39, 39, 0.75);
}

.burger-menu {
    flex-shrink: 0;
    height: 2em;
    width: 2em;
}

@media only screen and (min-width: 480px) {
    .container {
        padding: 0 var(--ipad-padding);
    }
}

@media only screen and (min-width: 768px) {
    .container {
        padding: 0 var(--laptop-padding);
        gap: 20px;
    }
}